h1, h2, h3{
    text-align: center;
  }
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/bkg-image.jpeg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; 
}
  h1{
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  h2 {
    color: #007bff;
  }
  
  p {
    color: #111010;
  }
  
  a {
    color: #001aff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #addDrink {
    background-color: #2898a7; 
}
#deleteDrink{
    background-color: #ff0000;
}